body {
font-family: 'Source Sans Pro', sans-serif;
font-size: 18px;
}
header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  margin-left: 2rem;
  display: flex;
}


.h2 {
  margin-left: 2rem;
}
.nav-left{
  margin-right: auto;
}

.nav-right{
  display: flex;
  padding-top: 10rem;
}
.post-entry{
  margin-bottom: 2rem;
}
.post-entry h2 {
  margin: 0.5rem 0;
}
.post-entry h2 a,
post-entry h2 a:visited{
  color: blue;
  text-decoration: none;
}

.post-entry p {
  margin: 0;
  font-weight: 400;
}

.post-entry h2 a:hover {
  color: red;
}

.sidenav {
  width:10px;
  top: 0;
  position: fixed;
  z-index: 1;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #3e3f3a;
}